header, .navbar, .main, .sidebar, .advertise, .footer {
    background-color: bisque;
    border: 2px solid tomato;
    padding: 5px;
    border-radius: 5px;
}

header {
    grid-area: header;
}

.navbar {
    grid-area: navbar;
}
.main {
    grid-area: main;
}
.sidebar {
    grid-area: sidebar;
}
.advertise {
    grid-area: advertise;
}
.footer {
    grid-area: footer;
}
.container {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header header header"
    "navbar main   main   sidebar"
    "navbar main   main   advertise"
    "footer footer footer footer"
    ;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .container {
        grid-template-areas:
        "header  header"
        "navbar  main"
        "sidebar advertise"
        "footer  footer"
        ;
    }
}
@media screen and (max-width: 576px) {
    .container {
        grid-template-areas:
        "header  header"
        "main    main"
        "navbar  sidebar"
        "navbar  advertise"
        "footer  footer"
        ;
    }
}